body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffd000;
    color: #333;
    background: linear-gradient(to bottom, #463900, #ffd000, #463900);
}

header {
    background-color: #000000;
    color: white;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

#user-display {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.2rem;
    color: #ffffff;
    display: none;
}

main {
    width: 80%;
    max-width: 400px;
    margin: 40px 0;
    flex: 1;
}

#error-message {
    color: red;
    display: none;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ff0000;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #c13b23;
}

footer {
    background-color: #000000;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    
}


/* Media Queries */

/* Celular */
@media (max-width: 767px) {
    header h1 {
        font-size: 1.8em;
    }

    main {
        width: 90%;
        max-width: 100%;
        margin: 20px 0;
    }

    .login-container {
        padding: 15px;
    }

    .login-container h2 {
        font-size: 1.5em;
    }

    .input-group {
        margin-bottom: 10px;
    }

    .input-group label {
        font-size: 0.9em;
    }

    .input-group input {
        padding: 8px;
    }

    .btn {
        padding: 8px 16px;
    }

    footer {
        padding: 8px 0;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    header h1 {
        font-size: 2em;
    }

    main {
        width: 85%;
        max-width: 100%;
    }

    .login-container {
        padding: 18px;
    }

    .login-container h2 {
        font-size: 1.8em;
    }

    .input-group {
        margin-bottom: 12px;
    }

    .input-group label {
        font-size: 1em;
    }

    .input-group input {
        padding: 9px;
    }

    .btn {
        padding: 9px 18px;
    }

    footer {
        padding: 9px 0;
    }
}

/* Notebooks e Desktop */
@media (min-width: 1025px) {
    header h1 {
        font-size: 2.5em;
    }

    main {
        width: 80%;
        max-width: 400px;
    }

    .login-container {
        padding: 20px;
    }

    .login-container h2 {
        font-size: 2em;
    }

    .input-group {
        margin-bottom: 15px;
    }

    .input-group label {
        font-size: 1.1em;
    }

    .input-group input {
        padding: 10px;
    }

    .btn {
        padding: 10px 20px;
    }

    footer {
        padding: 10px 0;
    }
}